.DS_Store

Demo/LIVSegmentBoingMenu.xcodeproj/xcuserdata/*.xcuserdatad/
Demo/LIVSegmentBoingMenu.xcworkspace/xcshareddata/
Demo/LIVSegmentBoingMenu.xcworkspace/xcuserdata/*.xcuserdatad/
Demo/Pods/Pods.xcodeproj/xcuserdata/*.xcuserdatad/